name: Build and Run Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build Step
        run: echo "Build job executed successfully"

  run:
    needs: build  
    runs-on: ubuntu-latest
    steps:
      - name: Run Step
        run: echo "Run job executed successfully after build"
